.example {
  padding: 25px 20px 40px 20px;
  min-height: 594px;
  background-color: #eaeaea;

  @media (min-width: 768px) {
    padding: 0;
    height: unset;
    background-color: #ffffff;
  }
}

.example__container {
  @media (min-width: 768px) {
    padding: 45px 0 0 30px;
  }
}

.example__caption {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;

  & br {
    display: none;
  }

  @media (min-width: 768px) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;

    & br {
      display: initial;
    }
  }
}

.example__container-list {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11%;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    display: flex;
    grid-gap: 43px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 255px;
  }
}

.example__item {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 120px;
  padding: 14px 0 17px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  @media (min-width: 768px) {
    padding: 23px 20px 25px;
    max-width: 162px;
  }
}

.example__title {
  display: block;
  position: absolute;
  bottom: -15px;
  padding: 0 11px;
  width: min-content;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: 768px) {
    text-wrap: nowrap;
    left: unset;
    bottom: -4px;
    margin: 10px 0 0;
    font-size: 14px;
    background-color: #ffffff;
  }
}

.example__description {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.example__resault {
  margin: 4px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  & br {
    display: none;
  }

  @media (min-width: 768px) {
    width: unset;
    height: unset;
    margin-top: 7px;
    margin-right: 32px;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: right;

    & br {
      display: initial;
    }
  }
}

.example__img-container {
  display: none;

  @media (min-width: 768px) {
    display: block;
    height: 462px;
    box-sizing: border-box;
    background-color: #eaeaea;
  }
}
