.hero {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1440px) {
    position: relative;
    padding: 81px 331px 52px 190px;
    min-height: 418px;
  }
}

.hero__container {
  min-height: 302px;
  background-color: #62a53b;
  background-image: url("../img/mobile/index/cat-background.png");
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/index/cat-background@2x.png");
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    background-image: unset;
    min-height: unset;
    background-color: unset;
  }
}

.hero__title {
  text-align: center;
  padding: 27px 0 25px 0;
  margin: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: 768px) {
    text-align: unset;
    padding: 65px 0 0 120px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: 1440px) {
    padding: 0 503px 0 0;
    margin-bottom: 40px;
  }
}

.hero__text {
  margin: 0;
  padding-right: 3px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 768px) {
    padding: 40px 0 0 120px;
    text-align: unset;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: 1440px) {
    padding: 0 636px 0 0;
    margin-bottom: 52px;
  }
}

.hero__button {
  @media (min-width: 1440px) {
    margin: 0;
    width: 244px;
  }
}

.hero__img-container {
  position: relative;
  height: 138px;

  @media (min-width: 768px) {
    order: 1;
    height: 526px;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: 0;
    right: 331px;
    left: 527px;
    width: 552px;
    height: 499px;
    margin: auto 0;
  }
}

.hero__image {
  position: absolute;
  bottom: 2px;
  left: 19px;

  @media (min-width: 768px) {
    left: 30px;
    right: 0;
    margin: auto 0;
  }
}
