.main-logo {
  display: flex;
  align-items: center;
}

.main-logo__image {
  margin-right: 56px;

  @media (min-width: 768px) {
    margin-right: 13px;
  }


  @media (min-width: 1440px) {
    margin-right: 14px;
  }
}
