.main-logo {
  display: flex;
  align-items: center;

  @media (min-width: 1440px) {
    margin-right: 457px;
    margin-left: 25px;
    height: 59px;
  }
}

.main-logo__image {
  margin-right: 56px;

  @media (min-width: 768px) {
    margin-right: 13px;
  }
}
