.main-nav {
  position: relative;

  @media (min-width: 768px) {
    position: static;
  }
}

.main-nav__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }

  @media (min-width: 768px) {
    position: static;
    display: flex;
    gap: 33px;
    width: unset;
    background-color: transparent;
    border: none;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.main-nav__item {
  color: #ffffff;
  padding: 22px 70px 23px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: 768px) {
    padding: 0;
    border: none;
  }
}

.main-nav__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &--active::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 2px;
    content: "";
    background-color: #68b738;
  }

  @media (min-width: 768px) {
    position: relative;
    font-size: 18px;
    line-height: 24px;

    @media (min-width: 1440px) {
      font-size: 20px;
      line-height: normal;
    }
  }
}
