.additional-product {
  position: relative;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.additional-product__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  @media (min-width: 768px) {
    width: unset;
    padding: 0 40px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
    z-index: 1;
  }
}

.additional-product__text {
  position: relative;
  line-height: 0;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    margin: auto 0;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;

    &::after {
      top: 21px;
    }
  }
}

.additional-product__list {
  list-style: none;
  margin: 0;
  padding: 0 20px 35px;

  @media (min-width: 768px) {
    padding: 80px 30px 70px 30px;
  }
}

.additional-product__prize-wrapepr {
  margin-right: 20px;
  margin-left: 20px;
  background-image: url("/img/mobile/catalog/gift-cat-mobile.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 75px;
    min-height: 200px;
    background-image: url("/img/tablet/catalog/gift-cat.png");
  }
}

.additional-product__prize-text {
  position: relative;
  margin: 0 auto;
  width: 161px;
  padding: 187px 0 43px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: 768px) {
    padding: 71px 48px 69px 344px;
    text-align: left;
  }
}

.additional-product__prize-text::before {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 78px;
  height: 81px;
  content: "";
  background-image: url("/img/universal/gift.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
    margin: auto 0;
    width: 80px;
    height: 80px;
  }
}
