.main-catalog__section {
  @media (min-width: 768px) {
    padding: 0 30px 70px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 76px;
  }
}

.main-catalog__title {
  margin: 27px 0 40px 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: 768px) {
    padding: 65px 30px 40px 30px;
    margin: 0 0 44px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    padding: 43px 110px 0;
    margin-bottom: 84px;
  }
}
