.product-card {
  padding: 20px 20px 24px;
  box-sizing: border-box;
  min-height: 209px;

  @media (min-width: 768px) {
    min-height: 511px;
    padding: 0;
    background-color: #f2f2f2;

    &::before {
      display: block;
      width: 100%;
      height: 81px;
      content: "";
      background-color: #ffffff;
    }
  }
}

.product-card__content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    padding: 0 37px 0 37px;
    margin: 0;
  }
}

.product-card__text-wrapper {
  width: 50%;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.product-card__caption {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 14px;
  width: 55%;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-top: 54px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: 1440px) {
    padding-top: 44px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product-card__description {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-spacing: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__description tr {
  & td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }

  @media (min-width: 768px) {
    & td {
      padding-top: 7px;
      padding-bottom: 4px;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &:first-child {
    & td {
      padding-top: 0;
    }
  }

  &:last-child {
    & td {
      padding-bottom: 0;
      border-bottom: none;

      @media (min-width: 768px) {
        padding-top: 7px;
        padding-bottom: 4px;
        border-bottom: 1px solid #cdcdcd;
      }

      @media (min-width: 1440px) {
        border: none;
      }
    }
  }
}

.product-card__image-wrapper {
  position: relative;
  width: 140px;
  height: 107px;
}

.product-card__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @media (min-width: 768px) {
    bottom: 42px;
    left: -13px;
  }

  @media (min-width: 1440px) {
    left: -9px;

    &--desktop {
      left: -16px;
    }
  }
}

.product-card__button {
  display: block;
  width: 100%;
  padding-top: 10px;
  text-decoration: none;

  @media (min-width: 768px) {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    margin: 34px 37px 40px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    width: 169px;
    height: 40px;
    margin: 32px 38px 0;
  }
}
