.data-cat {
  padding: 0;
  border: none;

  @media (min-width: 1440px) {
    margin: 0;
    min-width: 570px;
    flex-grow: 1;
  }
}

.data-cat__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.data-cat__item {
  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
