.field {
  position: relative;
  display: flex;
  gap: 13px;
}

.field__label {
  padding-top: 13px;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  text-wrap: nowrap;

  @media (min-width: 768px) {
    padding-top: 10px;
    font-size: 20px;
    line-height: normal;
  }
}

.field__input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding: 13px 15px 12px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;


  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  &:focus:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @media (min-width: 768px) {
    height: 52px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: normal;
  }
}

.field__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 13px;
  margin: auto 0;

  .entry-field__input:hover + & {
    stroke: #222222;
  }

  .field__input:focus + & {
    stroke: #68b738;
  }

  .field__input:focus:invalid + & {
    stroke: #ff8282;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
