.main-form__container {
  padding: 27px 20px 0;
  margin-bottom: 39px;

  @media (min-width: 768px) {
    padding: 64px 70px 0;
    margin-bottom: 66px;
  }
}

.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: 768px) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-form__description {
  margin: 0;
  width: 226px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-left: 1px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}
