.main-form__container {
  padding: 27px 20px 0;
  margin-bottom: 39px;
}

.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-form__description {
  margin: 0;
  width: 226px;
  text-transform: uppercase;
}
