.optional-select {
  padding: 0;
  padding-bottom: 35px;
  border: 0;

  @media (min-width: 768px) {
    padding-bottom: 16px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 48px;
  }
}

.optional-select__container {
  margin-bottom: 34px;
}

.optional-select__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 221px);
    row-gap: 21px;
    column-gap: 123px;
    padding: 23px 70px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(auto-fit, 221px);
    column-gap: 104px;
    padding: 22px 110px 0 110px;
  }
}

.optional-select__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
